.navbar-lewagon {
  justify-content: space-between;
  background: rgb(47, 46, 46);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;

}

.title {
  color: white;
  font-size: 30px;
  padding-top: 5px;
}
